/* Font import */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

/* VARIABLES */
:root {
  /* Colors */
  --color-grey-500: hsl(234, 12%, 34%);
  --color-grey-400: hsl(212, 6%, 44%);
  --color-white: hsl(0, 0%, 100%);
  --color-red: hsl(0, 78%, 62%);
  --color-cyan: hsl(180, 62%, 55%);
  --color-blue: hsl(212, 86%, 64%);
  --color-orange: hsl(34, 97%, 64%);

  /* Fonts */
  --font: "Poppins", sans-serif;

  /* Spacing */
  --spacing-50: 0.25rem;
  --spacing-75: 0.375rem;
  --spacing-100: 0.5rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --spacing-600: 2.875rem;
  --spacing-700: 3.75rem;
  --spcaing-800: 3.5rem;

  --container-mobile: 23.4375rem;
  --header-mobile: 19.75rem;
  --border-accent: 0.25rem;
}

/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

p {
  color: var(--color-grey-400);
}

/* GLOBAL STYLES */
body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: var(--font);
  background-color: var(--color-white);
  padding: var(--spcaing-800) 1.875rem var(--spacing-600);
  color: var(--color-grey-500);
}

main {
  width: 100%;
  max-width: var(--container-mobile);
  margin: 0 auto;
  flex: 1;
}
/* TYPOGRAPHY */
.feature-header {
  max-width: var(--header-mobile);
  margin-inline: auto;
  text-align: center;
}

.header-subtitle {
  font-size: 1.5rem;
  font-weight: 200;
}

.header-title {
  margin-top: var(--spacing-50);
  font-weight: 600;
  font-size: 1.5rem;
}

.header-description {
  margin-top: var(--spacing-200);
  font-size: 0.9375rem;
  font-weight: 400;
}

/* LAYOUT */
.card-feature {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
  margin-top: var(--spacing-700);
}
.card-feature p {
  font-size: 0.8125rem;
  font-weight: 200;
  margin-top: var(--spacing-75);
}

article {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-400);
  box-shadow: 0 0.9375rem 1.875rem -0.6875rem rgba(131, 166, 210, 0.5);
  border-radius: var(--spacing-100);
}

article h3 {
  margin-bottom: var(--spacing-50);
  font-size: 1.25rem;
  font-weight: 600;
}

article img {
  margin-left: auto;
  margin-top: var(--spacing-400);
}

.supervisor-card,
.team-card,
.karma-card,
.calculator-card {
  border-top-width: var(--border-accent);
  border-top-style: solid;
}

.supervisor-card {
  border-top-color: var(--color-cyan);
}

.team-card {
  border-top-color: var(--color-red);
}

.karma-card {
  border-top-color: var(--color-orange);
}

.calculator-card {
  border-top-color: var(--color-blue);
}

.attribution {
  margin-bottom: var(--spacing-200);
  text-align: center;
  margin-top: auto;
}

/* COMPONENTS */

/* MEDIA QUERIES */
