/* Font import */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

/* VARIABLES */
:root {
  /* Colors */
  --Grey-500-color: hsl(234, 12%, 34%);
  --Grey-400-color: hsl(212, 6%, 44%);
  --white-color: hsl(0, 0%, 100%);
  --Red-color: hsl(0, 78%, 62%);
  --Cyan-color: hsl(180, 62%, 55%);
  --Blue-color: hsl(212, 86%, 64%);
  --Orange-color: hsl(34, 97%, 64%);

  /* Fonts */
  --font: "Poppins", sans-serif;

  /* Spacing */
  --spacing-100: 0.5rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
}

/* RESET */

/* GLOBAL STYLES */

/* TYPOGRAPHY */

/* LAYOUT */

/* COMPONENTS */

/* MEDIA QUERIES */
